{% load i18n %}
{% blocktrans %}
    <div style="font-size: 1.1em;">
        <span style="font-size: 1.2em;color: #267ad4; font-style: italic;font-weight: bold;">{{ org_name }}'s Admin</span> ask you to do <span style="font-style: italic;">valid email</span>.
    </div>

    <div>
        <p style="margin-left: 1em;">Validation your email in <a href="{{ link_client }}"> here</a></p>
        <p style="margin-left: 1em;">
            Username:
            <span style="font-size: 1.2em;color: #0356fc;font-style: italic;">{{ username }}</span>
        </p>
        <p style="margin-left: 1em;">
            OTP:
            <span style="font-size: 1.2em;color: #0356fc;font-style: italic;">{{ otp }}</span>
        </p>
        <p>
            Expire after <span style="font-size: 1.1em;color: #F83A14;font-style: italic;">{{ expire_hour }} hours</span>
        </p>

    </div>
{% endblocktrans %}
